body {
    font-family: "sans-serif", Helvetica;
    background-color: #9DA184;
    color: #222;
    margin: 0;
    padding: 0;
}

header {
    background-color: #51543E;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    padding: 40px;
}

footer {
    background-color: #9DA184;
    color: white;
    text-align: center;
    padding: 10px;
}
